# FRONTEND
frontend/node_modules
frontend/build
frontend/.env
frontend/.eslintcache
frontend/.next
frontend/coverage

## BACKEND
backend/node_modules
backend/dist
backend/.env
backend/.eslintcache
backend/coverage